---
import Arm from "@/icons//Arm.astro";
import Dumbbell from "@/icons/Dumbbell.astro";
import Run from "@/icons/Run.astro";
import Price from "@/icons/Price.astro";
import Weight from "@/icons/Weight.astro";

const TAGS = {
  ARM: {
    class: "text-[#1A52E6]",
    icon: Arm,
  },
  DUMBBELL: {
    class: "text-[#1A52E6]",
    icon: Dumbbell,
  },
  RUN: {
    class: "text-[#1A52E6]",
    icon: Run,
  },
  PRICE: {
    class: "text-[#1A52E6]",
    icon: Price,
  },
  WEIGHT: {
    class: "text-[#1A52E6]",
    icon: Weight,
  },
};

const SPECIALITY = [
  {
    title: "Hipertrofia",
    icon: [TAGS.ARM],
    content:
      "Aumenta tu masa muscular con nuestro programa de hipertrofia, diseñado para maximizar el crecimiento muscular mediante entrenamientos específicos y una nutrición adecuada.",
<<<<<<< HEAD
    styleBg: "bg-zinc-800 hover:bg-zinc-600",
=======

    styleBg:"bg-zinc-800 hover:bg-zinc-600",
>>>>>>> 683ea640fd26edd17a5b30abbf4d7d150621ff4f
  },
  {
    title: "Fuerza",
    icon: [TAGS.DUMBBELL],
    content:
<<<<<<< HEAD
      "Desarrolla tu fuerza con nuestros entrenamientos personalizados, enfocados en mejorar tu capacidad física y rendimiento mediante ejercicios de alta intensidad.",
    styleBg: "bg-zinc-800 hover:bg-zinc-600",
=======
    "Desarrolla tu fuerza con nuestros entrenamientos personalizados, enfocados en mejorar tu capacidad física y rendimiento mediante ejercicios de alta intensidad.",

    styleBg:"bg-zinc-800 hover:bg-zinc-600",
>>>>>>> 683ea640fd26edd17a5b30abbf4d7d150621ff4f
  },
  {
    title: "Adelgazar",
    icon: [TAGS.WEIGHT],
    content:

      "Pierde peso de manera efectiva con nuestro plan de adelgazamiento, combinando ejercicios cardiovasculares, entrenamiento de fuerza y una dieta balanceada.",
    styleBg: "bg-zinc-800 hover:bg-zinc-600",
  },
  {
    title: "Resistencia",
    icon: [TAGS.RUN],
<<<<<<< HEAD
    content:
      "Mejora tu resistencia con nuestras rutinas especializadas, para aumentar tu capacidad cardiovascular y muscular, permitiéndote entrenar por más tiempo y con más intensidad.",
    styleBg: "bg-zinc-800 hover:bg-zinc-600",
=======

    content:"Mejora tu resistencia con nuestras rutinas especializadas, para aumentar tu capacidad cardiovascular y muscular, permitiéndote entrenar por más tiempo y con más intensidad.",
    styleBg:"bg-zinc-800 hover:bg-zinc-600",
>>>>>>> 683ea640fd26edd17a5b30abbf4d7d150621ff4f
  },
];
---

<<<<<<< HEAD
<article class="flex flex-wrap justify-center items-center gap-4 min-h-screens">
  {
    SPECIALITY.map(({ title, icon, content, styleBg }) => (
      <section
        class={` ${styleBg} py-10 flex flex-col items-center  w-[300px]  text-white`}
      >
        <header class="w-40">
          {icon.map((tag) => (
            <tag.icon class="" />
          ))}
        </header>
        <h2 class="text-4xl font-bold mb-2">{title}</h2>
      </section>
    ))
  }
</article>
=======
<article class="grid gap-5 m-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
  {SPECIALITY.map(({ title, icon, content, styleBg }) => (
    <section class={` ${styleBg} p-6 rounded-lg text-white w-full`}>
      <header class="flex  mb-4">
        {icon.map(tag => (
          <tag.icon class="w-10 h-10 my-2" />
        ))}
      </header>
      <h2 class="text-xl font-bold mb-2">{title}</h2>
      <p class="text-gray-400 mb-4">{content}</p>

    </section>
  ))}
</article>

>>>>>>> 683ea640fd26edd17a5b30abbf4d7d150621ff4f
