---
import List from "../icons/List.astro";
const MEMBERSHIP_PLANS = [
  {
    name: "Trimestral",
    price: "$60/mes",
    features: [
      "Acceso ilimitado a máquinas y pesas",
      "2 clases grupales de cortesía al mes",
      "Sesión de evaluación física inicial gratuita",
    ],
    buttonText: "¡Únete Ahora!",
    link: "https://api.whatsapp.com/send?phone=+593985285463&text=Hola!%20Estoy%20interesado%20en%20el%20plan%20Trimestral.",
  },
  {
    name: "Mensual",
    price: "$25/mes",
    features: [
      "Acceso a todas las áreas del gimnasio",
      "10% de descuento en productos de la tienda",
    ],
    buttonText: "Elige este Plan",
    isPopular: true,
    link: "https://api.whatsapp.com/send?phone=+593985285463&text=Hola!%20Estoy%20interesado%20en%20el%20plan%20Mensual.",
  },
  {
    name: "Anual",
    price: "$190/año",
    features: [
      "Membresía premium con acceso a zona VIP",
      "Entrenador personal una vez al mes",
      "Acceso prioritario a nuevos equipos y servicios",
    ],
    buttonText: "Plan Exclusivo",
    link: "https://api.whatsapp.com/send?phone=+593985285463&text=Hola!%20Estoy%20interesado%20en%20el%20plan%20Anual.",
  },
];
---

<section id="pricing">
  <div class="container max-w-full mx-auto py-12">
    <h2
      class="text-center text-5xl dark:text-gray-300 text-gray-700 font-extrabold leading-snug tracking-wider"
    >
      Membresías
    </h2>
    <p class="text-center text-lg dark:text-gray-300 text-gray-700 mt-2 px-4">
      Encuentra el plan perfecto para tu estilo de vida y comienza a mejorar tu
      salud hoy mismo.
    </p>
    <div
      class="h-1 mx-auto bg-indigo-200 dark:bg-white w-24 opacity-75 mt-4 rounded"
    >
    </div>

    <div class="max-w-full md:max-w-6xl mx-auto my-3 md:px-8">
      <div class="relative block flex flex-col lg:flex-row items-center">
        {
          MEMBERSHIP_PLANS.map((plan) => (
            <div class="w-11/12 max-w-sm sm:w-3/5 lg:w-1/3 sm:my-5 my-8 relative z-0 bg-white dark:bg-black rounded-lg shadow-lg border border-gray-200 dark:border-gray-700">
              <div
                class={`text-sm leading-none rounded-t-lg ${plan.isPopular ? "bg-gray-200" : "bg-white"} text-black font-semibold uppercase py-4 text-center tracking-wide`}
              >
                {plan.isPopular ? "Más popular" : ""}
              </div>
              <div class="block text-left text-sm sm:text-md max-w-sm mx-auto mt-2 px-8 lg:px-6">
                <h2 class="text-lg font-medium uppercase p-3 pb-0 text-center tracking-wide">
                  {plan.name}
                </h2>
                <h2 class="text-sm text-gray-500 text-center pb-6">
                  <span class="text-2xl">{plan.price}</span>
                </h2>
              </div>
              <div class="flex px-5 justify-start sm:justify-start mt-3">
                <ul>
                  {plan.features.map((feature) => (
                    <li class="flex items-center">
                      <div class="rounded-full fill-current text-green-700">
                        <svg
                          class="w-6 h-6 align-middle"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
                          <polyline points="22 4 12 14.01 9 11.01" />
                        </svg>
                      </div>
                      <span class="text-lg ml-3 dark:text-black">
                        {feature}
                      </span>
                    </li>
                  ))}
                </ul>
              </div>
              <div class="flex items-center p-8 uppercase">
                <a
                  href={plan.link}
                  class="mt-3 text-lg font-semibold bg-black w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:bg-gray-700 text-center"
                >
                  {plan.buttonText}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  :root {
    --card-bg: white;
    --card-text: black;
    --button-bg: black;
    --button-text: white;
    --list-text: white;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --card-bg: rgb(47, 48, 49);
      --card-text: white;
      --button-bg: white;
      --button-text: black;
      --list-text: black;
    }
  }

  .bg-white {
    background-color: var(--card-bg);
    color: var(--card-text);
  }

  .bg-black {
    background-color: var(--button-bg);
    color: var(--button-text);
  }

  .text-gray-700 {
    color: var(--list-text);
  }
</style>
